<div 
    data-sly-use.templates="core/wcm/components/commons/v1/templates.html"
    data-sly-use.pageInfo="com.brookfieldpropertiesprogram.core.models.PageInfoRequestModel"
    data-sly-use.updatedProps ="${'com.brookfieldpropertiesprogram.core.models.UpdatedPropRequestModel'}"
    class="cmp-section100__wrapper">
    <div class="cmp-section100__media cmp-videoPlayer">
        <video src="${properties.videoPath @context='uri'}" 
               preload="true" muted autoplay loop playsinline webkit-playsinline x5-playsinline>
            Your browser does not support the video tag.
        </video>
    </div>
    <div class="cmp-section100__control">
        <button class="btn-videoControl btn-videoControl--pause">
            <span class="visually-hidden">Pause the video</span>
        </button>
    </div>
</div>
<sly data-sly-call="${templates.placeholder @ isEmpty = !properties.lead, classAppend='cmp-text'}"></sly>