<div 
    data-sly-use.templates="core/wcm/components/commons/v1/templates.html"
    data-sly-use.pageInfo="com.brookfieldpropertiesprogram.core.models.PageInfoRequestModel"
    data-sly-use.cta="com.brookfieldpropertiesprogram.core.models.NavigationLink"
    data-sly-use.updatedProps ="${'com.brookfieldpropertiesprogram.core.models.UpdatedPropRequestModel'}"
    class="cmp-section100__wrapper">
    <div data-sly-test.isVisual="${properties.bgImagePath}" class="cmp-section100__media">
        <img src="${updatedProps.properties.bgImagePath @context='uri'}" alt="${updatedProps.properties.bgImageLabel}" width="1920" height="1022"/>
    </div>
    <div data-sly-test="${!isVisual}" class="cmp-section100__lead">
        ${updatedProps.properties.lead @context='html'}
    </div>
    <div data-sly-test="${isVisual}" class="cmp-section100__info">
        <div class="cmp-section100__title"><h3>${properties.title}</h3></div>
        <div class="cmp-section100__text">${properties.text @context='html'}</div>
        <div data-sly-test="${cta && cta.label}" class="cmp-section100__cta">
            <a data-sly-test="${cta && cta.label}" href="${cta.absUrl}" class="btn btn-tertiary btn-dark">${cta.label}</a>
        </div>
    </div>
    <div data-sly-test.displayAddress="${!isVisual && properties.displayAddress}" class="cmp-section100__contacts">
       ${updatedProps.getProperties.getInTouch @context='html'}
    </div>
    <div data-sly-test="${!isVisual && !displayAddress}" class="cmp-section100__copy">
        ${properties.copy @context='html'}
        <a data-sly-test="${cta && cta.label}" href="${cta.absUrl}" class="btn btn-tertiary btn-light">${cta.label}</a>
    </div>
</div>
<sly data-sly-call="${templates.placeholder @ isEmpty = !properties.lead, classAppend='cmp-text'}"></sly>