<sly 
    data-sly-use.templates="core/wcm/components/commons/v1/templates.html"    
    data-sly-use.navigation="com.brookfieldpropertiesprogram.core.models.NavigationComponentModel">
    <div class="cmp-section50__wrapper">
        <div class="cmp-section50__divider"></div>
        <div class="cmp-section50__title">
            <h4><span class="intermediate-title">${properties.title}</span></h4>
        </div>
        <div class="cmp-section50__cta">
            <a data-sly-repeat.cta="${navigation.menuLinks}" target="${cta.target}" href="${cta.absUrl}" class="btn btn-primary ${cta.cssClass} ${cta.btnType}"> 
                ${cta.label}
            </a>            
        </div>
    </div>     
</sly>
<sly data-sly-call="${templates.placeholder @ isEmpty = !properties.title, classAppend='cmp-text'}"></sly>