<div data-sly-test="${properties.text}"
     data-sly-use.templates="core/wcm/components/commons/v1/templates.html" 
     data-sly-use.cta="com.brookfieldpropertiesprogram.core.models.NavigationLink"
     data-sly-use.ctas="com.brookfieldpropertiesprogram.core.models.NavigationRequestModel"
     data-sly-use.updatedProps ="${'com.brookfieldpropertiesprogram.core.models.UpdatedPropRequestModel'}"
     class="cmp-apartmentDetail__promo-inner">
    ${updatedProps.properties.text @context='html'}                 
</div>    
<sly data-sly-call="${templates.placeholder @ isEmpty = !properties.text, classAppend='cmp-text'}"></sly>
