<sly data-sly-use.templates="core/wcm/components/commons/v1/templates.html" 
     data-sly-use.cta="com.brookfieldpropertiesprogram.core.models.NavigationLink"
     data-sly-use.ctas="com.brookfieldpropertiesprogram.core.models.NavigationRequestModel"
     >
    <h3 class="cmp-apartmentDetail__available-title">{{total}} Currently Available</h3>
    <h3 class="cmp-apartmentDetail__accordion-header">
        <button 
            class="cmp-apartmentDetail__accordion-button cmp-apartmentDetail__accordion-button--expanded" 
            id="apartmentDetail__accordion-button"
            aria-control="available-accordion-panel"
            aria-expanded="true">
            <span class="cmp-apartmentDetail__accordion-title">{{total}} Currently Available</span>
            <span class="cmp-apartmentDetail__accordion-icon"></span>
        </button>
    </h3>
    <div class="cmp-apartmentDetail__accordion-panel cmp-apartmentDetail__accordion-panel--expanded" 
         id="apartmentDetail__accordion-panel">
        <ul class="cmp-apartmentDetail__unitList">
            {{#each available}}
            <li class="cmp-apartmentDetail__unit">
                <h3><span class="small-title">{{title}}</span></h3>
                <p><span class="label-text">{{../category}} | {{baths}} Bath | {{area}}</span></p>
                <p><span class="label-text">Starting at {{rent}}/month**</span></p>
                <p><a href="#" class="btn btn-secondary btn-dark">Apply Now</a></p>
            </li>            
            {{/each}}
        </ul>
        <div class="cmp-apartmentDetail__disclaimer">
            ${currentStyle.disclaimer ? currentStyle.disclaimer : '<p>*Select units only. Restrictions apply; inquire for details.</p><p>**Rent displayed is for the best-priced term. Rates vary by lease term and move-in date. Select “Apply Now” to see all other rate options.</p>' @context='html'}
        </div>                   
    </div>    
</sly>
<sly data-sly-call="${templates.placeholder @ isEmpty = !properties.text, classAppend='cmp-text'}"></sly>
