scripts=[
        "        
        create service user brookfieldproperties-reader
        set ACL on /content,/var
            allow jcr:read for brookfieldproperties-reader
        end

        create service user brookfieldproperties-keystore-reader with path /home/users/system/brookfieldproperties/brookfieldproperties-keystore-reader
        set ACL on /home/users/system/brookfieldproperties/brookfieldproperties-keystore-reader
            allow jcr:read for brookfieldproperties-keystore-reader
            allow rep:write for brookfieldproperties-keystore-reader
        end

        set ACL on /content
            allow jcr:read for brookfieldproperties-keystore-reader
        end
        "
]
