<sly data-sly-use.templates="core/wcm/components/commons/v1/templates.html" 
     data-sly-use.cta="com.brookfieldpropertiesprogram.core.models.NavigationLink"
     data-sly-use.ctas="com.brookfieldpropertiesprogram.core.models.NavigationRequestModel"
    >
    <iframe src="https://my.matterport.com/show/?m=92HC4wJZWLy" title="Studio R (0B/1B)" frameborder="0" allowfullscreen allow="xr-spatial-tracking"></iframe>  
</sly>
<sly data-sly-call="${templates.placeholder @ isEmpty = !properties.text, classAppend='cmp-text'}"></sly>
